<div>
    <h3>{{ item.name }}</h3>
    <p>{{ totalPrice.toLocaleString('cs-CZ', { minimumFractionDigits: 2 }) }} Kč</p>
    <input type="number" [(ngModel)]="quantity" min="1" #quantityInput />
    <button (click)="addToCart()" id="add-cart">Přidat do košíku</button>
    <select #addInfo>
        <option value="" disabled selected></option>
        <!-- <option value="bez poznámky">Bez poznámky</option> -->
        @for (optNote of item.notes; track optNote) {
          <option value="{{ optNote }}">{{ optNote }}</option>
        }
    </select>
</div>
