<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<main class="main">
  <div class="select-board">
    <h2>Přidejte do košíku <input type="text" placeholder="Hledat položku" [(ngModel)]="searchTerm"></h2>
    <div class="selection">
      <div>
        @for (item of items; track item) {
          @if (item.name.toLowerCase().includes(searchTerm)) {<cart-item [item]="item" (addToCartEvent)="addToCart($event)"></cart-item>}
        }
      </div>
    </div>
  </div>
  <div class="cart">
    <h2>Košík</h2>
    <div class="cart">
      <tr>
        <th class="itemName">Název</th>
        <th class="itemPrice">Cena</th>
        <th class="itemNotes">Poznámka</th>
      </tr>
      <div class="table-parent">
        <table>
          <!-- Loop through cart items and display them -->
          @for (item of cartItems; track item) {
            <tr>
              <td class="itemName">{{ item.name }}</td>
              <td class="itemPrice">{{ item.price.toLocaleString('cs-CZ', { minimumFractionDigits: 2 }) }} Kč</td>
              <td class="itemNotes">{{ item.notes }}</td>
            </tr>
          }
        </table>
      </div>
      <hr>
      <div class="total">
        <p><span>Celkem: </span> <span>{{ getCartTotal() }} Kč</span></p>
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
